:root {
    --light: #fefffe;
    --dark-light: #5f7587;
    --dark: #323233;
    --darken: #000;
    --primary: #0085fc;
    --primary-light: #b4dcff;
    --secondary: #9792e4;
    --secondary-light: #c8c8f0;
    --accent: #fcc05f;
}

/* #region Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2rem;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

/* #endregion Common */

/* #region Utilities */

.container {
    max-width: 1200px;
    margin: auto;
}

.container_small {
    width: 30%;
    margin: auto;
}

.row {
    display: flex;
}

.col-2 {
    width: calc(100% / 12 * 2.4);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-10 {
    width: calc(100% / 12 * 9.6);
}

.card {
    height: 100%;
    padding: 2rem;
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 50px;
    text-decoration: none;
}

.m-left {
    margin-left: 0.5rem;
}

.m-right {
    margin-right: 0.5rem;
}

/* #endregion Utilities */

/* #region Header */

header {
    background-color: var(--primary);
    padding: 1rem;
}

header .row {
    justify-content: space-between;
    align-items: center;
}

.menu nav {
    display: inline-block;
}

.menu nav a {
    color: var(--light);
    text-decoration: none;
    padding: 0rem 1rem;
}

header .btn {
    background-color: var(--light);
    color: var(--darken);
}

header .menu_symbol{
    font-size: 1.5rem;
    color: var(--light);
    display: none;
}

/* #endregion Header */

/* #region Main */

/* Description section */

.description {
    background-color: var(--light);
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.description .row {
    margin: 1rem 0rem;
}

.description .card {
    background-color: var(--primary-light);
    border-radius: 20px;
    padding-bottom: 0;
}

.description .col-8 .card {
    display: flex;
    justify-content: space-between;
}

.description .col-4 .card {
    text-align: center;
}

.description .col-8 .card .col-6:last-of-type {
    text-align: center;
}

.description h3 {
    color: var(--primary);
}

.description p {
    color: var(--dark-light);
    font-weight: 700;
    line-height: 1.8rem;
    margin: 2rem 0rem;
}

.description .btn {
    background-color: var(--primary);
    color: var(--light);
    font-size: 1.1rem;
    font-weight: 700;
    word-spacing: 0.2rem;
    padding: 0.5rem 4rem;
}

.description img.phone {
    width: 75%;
    height: 100%;
    padding-top: 2rem;
}

.description .col-4 i {
    font-size: 5rem;
    color: var(--primary);
    padding-bottom: 1rem;
}

/* /Description section */

/* Planning section */

.planning {
    background-color: var(--secondary);
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.planning .row {
    padding: 0rem 7rem;
}

.strategic_planning,
.development {
    margin: 1rem;
}

.strategic_planning h2 {
    color: var(--light);
    margin: 3rem 0rem;
}

.strategic_planning p {
    color: var(--light);
    line-height: 1.8rem;
}

.strategic_planning img {
    padding-bottom: 3rem;
}

.planning .col-6:last-of-type {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.development {
    height: 80%;
    background-color: var(--light);
    text-align: center;
    border-radius: 50px;
}

.development img {
    width: 80%;
}

.development h3 {
    margin: 1rem;
}

.development p {
    font-style: italic;
    line-height: 1.8rem;
    margin: 1rem;
}

.development .btn {
    background-color: var(--secondary);
    color: var(--darken);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 50%;
    display: inline-block;
}

/* /Planning section */

/* Testimonials section */

.testimonials {
    background-color: var(--light);
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.testimonials h1 {
    color: var(--secondary);
    padding: 2rem 0rem;
}

.testimonials .card {
    background-color: var(--secondary);
    color: var(--light);
    margin: 2rem 0;
    padding-left: 1rem;
    border-radius: 50px;
}

.testimonials .card .col-2 {
    display: flex;
    align-items: center;
}

.testimonials .card .col-10 {
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cit p {
    display: inline;
}

.partner {
    font-weight: 700;
    letter-spacing: 0.2rem;
    padding-top: 2rem;
}

.testimonials img {
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

/* /Testimonials section */

/* Benefits section */

.benefits {
    background-color: var(--secondary);
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.benefits h1 {
    color: var(--light);
    margin-bottom: 3rem;
}

.benefits .row {
    margin: 1rem -1rem;
    flex-wrap: wrap;
}

.benefits .col-4 {
    margin: 1rem 0;
}

.benefits .card {
    background-color: var(--light);
    text-align: start;
    margin: 0 1rem;
    border-radius: 20px;
}

.number {
    color: var(--secondary);
    font-size: 3rem;
    font-weight: 700;
}

.benefits h3 {
    color: var(--secondary);
    padding: 1rem 0;
}

.benefits p {
    color: var(--dark-light);
    font-size: 1rem;
    line-height: 1.8rem;
    padding: 1rem 0;
}

.benefits .btn {
    background-color: var(--secondary);
    color: var(--light);
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    padding: 0.5rem 3rem;
    display: inline-block;
}

/* /Benefits section */

/* About Us Section */

.about_us{
    padding: 5rem 0;
}

.about_us h1{
    color: var(--secondary);
    font-size: 4rem;
    padding-bottom: 1.5rem;
}

.about_us p{
    font-size: 1.2rem;
    line-height: 2.5rem;
    padding: 1.5rem 0;
}

.about_us .col-8,
.about_us .col-4{
    padding: 0 4rem;
}

.about_us .col-4 div{
    text-align: center;
    padding-bottom: 1rem;
    position: relative;
}

.about_us img{
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.about_us h3{
    color: var(--secondary);
}

.about_us .btn{
    background-color: var(--secondary);
    color: var(--light);
    font-size: 0.8rem;
    word-spacing: 0.2rem;
    margin-top: 1rem;
    display: inline-block;
}

.about_us .col-4 div i{
    color: var(--secondary);
    font-size: 6rem;
    position: absolute;
    top: -1rem;
    right: -1rem;
}

/* /About Us Section */

/* Get Started Section */

.get_started{
    background-color: var(--secondary);
    color: var(--light);
    text-align: center;
    padding: 4rem 0;
}

.get_started span{
    color: var(--secondary-light);
    letter-spacing: 0.2rem ;
}

.get_started h1{
    color: var(--light);
}

.accent{
    color: var(--accent);
    font-size: 5rem;
    font-weight: 700;
    padding: 2rem 0;
}

.get_started p{
    line-height: 1.8rem;
    padding: 0 1rem;
}

.get_started .btn{
    background-color: var(--light);
    color: var(--secondary);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    margin: 1.5rem 0;
    padding: 1.5rem 4rem;
    display: inline-block;
}

.copyright{
    font-size: 0.9rem;
}

.copyright a{
    color: var(--light);
}

/* /Get Started Section */

/* #endregion Main */

/* #region Footer */

footer{
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    font-size: 0.9rem;
    padding: 2rem 0;
}

footer p{
    padding: 0 6rem 3rem 6rem;
}

.links{
    padding: 0rem 6rem;
}

.links a{
    color: var(--secondary);
}

/* #endregion Footer */

/* #region Responsive */

/* TABLET */
@media screen and (max-width: 768px) {
    .container {
        width: 95%;
    }

    .container_small{
        width: 80%;
    }

    header .menu{
        display: none;
    }

    header .menu_symbol{
        display:block;
    }

    .description .col-8 .card {
        flex-wrap: wrap;
    }

    .description .col-6,
    .planning .col-6 {
        width: 100%;
    }

    .description .col-8 .card .col-6:last-of-type {
        text-align: start;
    }

    .description img.phone {
        width: 60%;
    }

    .planning .row {
        width: 100%;
        padding: 0;
        flex-direction: column;
    }

    .strategic_planning img {
        width: 100%;
    }

    .strategic_planning h2 {
        font-size: 3.5rem;
    }

    .testimonials .card {
        padding: 1.5rem 1rem;
    }

    .testimonials h1 {
        font-size: 2rem;
    }

    .benefits .col-4 {
        width: calc(100% / 12 * 6);
    }

    .about_us .col-8,
    .about_us .col-4{
        padding: 0 2rem;
    }

    .about_us .col-4 div i{
        font-size: 4rem;
    }
}

/* MOBILE */
@media screen and (max-width: 480px) {
    .container {
        width: 85%;
    }

    .description .row {
        flex-wrap: wrap;
        margin: 0;
    }

    .description .col-4 {
        width: 100%;
        margin: 1rem;
    }

    .description .col-8 {
        width: 100%;
        margin: 1rem;
    }

    .description .col-8 .card .col-6:last-of-type {
        text-align: center;
    }

    .strategic_planning h2 {
        font-size: 2rem;
    }

    .testimonials .row {
        flex-wrap: wrap;
    }

    .testimonials .card .col-2 {
        width: 100%;
        justify-content: center;
    }

    .testimonials .card .col-10 {
        width: 100%;
        margin-top: 1rem;
        padding: 0;
    }

    .testimonials img {
        width: 80%;
    }

    .benefits .col-4 {
        width: 100%;
    }

    .about_us .row{
        flex-wrap: wrap;
    }

    .about_us .col-8{
        width: 100%;
    }

    .about_us .col-4{
        width: 100%;
        text-align: start;
    }

    .about_us h1{
        font-size: 3rem;
    }

    .about_us .col-4 div{
        width: 60%;
    }

    .get_started h1{
        font-size: 2rem;
    }

    .accent{
        font-size: 4rem;
    }

    .get_started .btn{
        padding: 1rem 4rem;
    }

    footer p{
        padding: 0;
        padding-bottom: 3rem;
    }
    
    .links{
        padding: 0;
    }
}

/* #endregion Responsive */