:root{
    --light: #fefffe;
    --dark-light: #5f7587;
    --dark: #323233;
    --darken: #000;
    --primary: #0085fc;
    --primary-light: #b4dcff;
    --secondary: #9792e4;
    --secondary-light: #c8c8f0;
    --accent: #fcc05f;
}

/* #region Common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}

img{
    max-width: 100%;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

/* #endregion Common */

/* #region Utilities */

.container{
    max-width: 1200px;
    margin: auto;
}

.container-small{
    width: 30%;
    margin: auto;
}

.row{
    display: flex;
}

.col-2{
    width: calc(100% / 12 * 2.4);
}

.col-4{
    width: calc(100% / 12 * 4);
}

.col-6{
    width: calc(100% / 12 * 6);
}

.col-8{
    width: calc(100% / 12 * 8);
}

.col-10{
    width: calc(100% / 12 * 9.6);
}

.card{
    height: 100%;
    padding: 2rem;
}

.btn{
    padding: 0.5rem 1rem;
    border-radius: 50px;
    text-decoration: none;
}

.m-left{
    margin-left: 0.5rem;
}

.m-right{
    margin-right: 0.5rem;
}

/* #endregion Utilities */

/* #region Header */

header{
    background-color: var(--primary);
    padding: 1rem;
}

header .row{
    justify-content: space-between;
    align-items: center;
}

.menu nav{
    display: inline-block;
}

.menu nav a{
    color: var(--light);
    text-decoration: none;
    padding: 0rem 1rem;
}

header .btn{
    background-color: var(--light);
    color: var(--darken);
}

/* #endregion Header */

/* #region Main */

/* Description section */

.description{
    background-color: var(--light);
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.description .row{
    margin: 1rem 0rem;
}

.description .card{
    background-color: var(--primary-light);
    border-radius: 20px;
    padding-bottom: 0;
}

.description .col-8 .card{
    display: flex;
    justify-content: space-between;
}

.description .col-4 .card{
    text-align: center;
}

.description .col-8 .card .col-6:last-of-type{
    text-align: center;
}

.description h3{
    color: var(--primary);
}

.description p{
    color: var(--dark-light);
    font-weight: 700;
    line-height: 1.8rem;
    margin: 2rem 0rem;
}

.description .btn{
    background-color: var(--primary);
    color: var(--light);
    font-size: 1.1rem;
    font-weight: 700;
    word-spacing: 0.2rem;
    padding: 0.5rem 4rem;
}

.description img.phone{
    width: 75%;
    height: 100%;
    padding-top: 2rem;
}

.description .col-4 i{
    font-size: 5rem;
    color: var(--primary);
    padding-bottom: 1rem;
}

/* /Description section */

/* Planning section */

.planning {
    background-color: var(--secondary);
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.planning .row {
    padding: 0rem 7rem;
}

.strategic_planning,
.development {
    margin: 1rem;
}

.strategic_planning h2 {
    color: var(--light);
    margin: 3rem 0rem;
}

.strategic_planning p {
    color: var(--light);
    line-height: 1.8rem;
}

.strategic_planning img {
    padding-bottom: 3rem;
}

.planning .col-6:last-of-type {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.development {
    height: 80%;
    background-color: var(--light);
    text-align: center;
    border-radius: 50px;
}

.development img {
    width: 80%;
}

.development h3 {
    margin: 1rem;
}

.development p {
    font-style: italic;
    line-height: 1.8rem;
    margin: 1rem;
}

.development .btn {
    background-color: var(--secondary);
    color: var(--darken);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 50%;
    display: inline-block;
}

/* /Planning section */

/* Testimonials section */

.testimonials {
    background-color: var(--light);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.testimonials span {
    font-size: 1.1rem;
}

.testimonials h1 {
    color: var(--secondary);
    padding: 2rem 0rem;
}

.testimonials .card {
    background-color: var(--secondary);
    color: var(--light);
    margin: 2rem 0;
    padding-left: 1rem;
    border-radius: 50px;
}

.testimonials .card .col-2 {
    display: flex;
    align-items: center;
}

.testimonials .card .col-10 {
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cit p {
    display: inline;
}

.partner {
    font-weight: 600;
    padding-top: 2rem;
}

.testimonials img {
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

/* /Testimonials section */

/* #endregion Main */



/* #region Responsive */

/* TABLET */
@media screen and (max-width: 768px) {
    .container{
        width: 95%;
    }

    .description .col-8 .card{
        flex-wrap: wrap;
    }

    .description .col-6,
    .planning .col-6{
        width: 100%;
    }

    .description .col-8 .card .col-6:last-of-type{
        text-align: start;
    }

    .description img.phone{
        width: 60%;
    }

    .planning .row {
        width: 100%;
        padding: 0;
        flex-direction: column;
    }

    .strategic_planning img {
        width: 100%;
    }

    .strategic_planning h2 {
        font-size: 3.5rem;
    }

    .testimonials .card {
        padding: 1.5rem 1rem;
    }

    .testimonials h1 {
        font-size: 2rem;
    }
}

/* MOBILE */
@media screen and (max-width: 480px) {
    .container{
        width: 85%;
    }

    .description .row{
        flex-wrap: wrap;
        margin: 0;
    }

    .description .col-4{
        width: 100%;
        margin: 1rem;
    }

    .description .col-8{
        width: 100%;
        margin: 1rem;
    }

    .description .col-8 .card .col-6:last-of-type{
        text-align: center;
    }

    .strategic_planning h2 {
        font-size: 2rem;
    }

    .testimonials .row {
        flex-wrap: wrap;
    }

    .testimonials .card .col-2 {
        width: 100%;
        justify-content: center;
    }

    .testimonials .card .col-10 {
        width: 100%;
        margin-top: 1rem;
        padding: 0;
    }

    .testimonials img {
        width: 80%;
    }
}

/* #endregion Responsive */

